.searchInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.searchLi{
    list-style: none;
    max-width: 750px;
}

.searchFlagIMG{
    display: flex;
}

.searchFlagIMG img{
    border: black solid 1px;
    width: 15em;
}

.searchText {
    display: flex;
    flex-direction: column;
}

.searchCountry{
    display: flex;
    flex-direction: column;
    font-size: 3.5em;
    justify-content: center;
}


}
